#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-size: 20px;
}
.chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:500px;
  width:600px;
  margin-top: 30px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
